---
import { ColorsEnum } from "../constants/colors"

import Layout from "../layouts/Layout.astro"
---

<Layout title="About Me" openMenuColor={ColorsEnum.PRIMARY} closeMenuColor={ColorsEnum.ACCENT}>
    <section class="bg-secondary relative w-[100%] h-[100vh] flex justify-center items-center">

    </section>
</Layout>