---
import MyStory from "../components/react/MyStory"

import { ColorsEnum } from "../constants/colors"

import Layout from "../layouts/Layout.astro"
---

<Layout title="About Me" openMenuColor={ColorsEnum.ACCENT} closeMenuColor={ColorsEnum.ACCENT} bodyBackground={ColorsEnum.PRIMARY}>
    <section class="bg-secondary relative w-[100%] flex flex-row items-center justify-center" style="height: calc(var(--vh, 1vh) * 100)">
        <MyStory client:load/>
    </section>
</Layout>