---
import { ColorsEnum } from "../constants/colors";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Antonio Acuña" openMenuColor={ColorsEnum.SECONDARY} closeMenuColor={ColorsEnum.ACCENT}>
    <section class="bg-primary relative w-[100%] h-[100vh] flex justify-center items-center">
        <div id="day-shift-circle" class="absolute w-full h-full flex justify-center items-center">
            <h2
                class="absolute font-extrabold text-accent z-10
                text-[40px] mb-[300px]
                md:text-[50px] md:mb-[400px]
                lg:text-[60px] lg:mb-[400px]"
            >
                The Day Shift
            </h2>
            <div
                class="bg-secondary absolute rounded-full
                w-[300px] h-[300px] mb-[200px] mr-[100px]
                md:w-[400px] md:h-[400px] md:mr-[150px]
                lg:w-[400px] lg:h-[400px] lg:mr-[200px]"
            />
        </div>
        <div id="night-shift-circle" class="absolute w-full h-full flex justify-center items-center">
            <h2
                class="absolute font-extrabold text-secondary z-10
                text-[40px] mt-[300px]
                md:text-[50px] md:mt-[400px]
                lg:text-[60px] lg:mt-[400px]"
            >
                The Night Shift
            </h2>
            <div
                class="bg-accent absolute rounded-full
                w-[300px] h-[300px] mt-[200px] ml-[100px]
                md:w-[400px] md:h-[400px] md:ml-[150px]
                lg:w-[400px] lg:h-[400px] lg:ml-[200px]"
            />
        </div>
    </section>
</Layout>

<script>

    const circle1 = document.getElementById("day-shift-circle");

</script>