---
import { ColorsEnum } from "../constants/colors";

import ArrowRightCircle from "../components/icons/Arrow-Right-Circle.astro";
import Layout           from "../layouts/Layout.astro";
---

<Layout title="Antonio Acuña" openMenuColor={ColorsEnum.SECONDARY} closeMenuColor={ColorsEnum.ACCENT}>
    <section class="bg-primary relative w-[100%] h-[100vh] px-[50%] flex justify-center items-center max-w-[100%] overflow-hidden">
        <div id="day-shift-circle" class="relative group w-full h-full flex justify-center items-center has-[:hover]:z-50">
            <h2
                class="absolute peer font-extrabold text-accent z-30 text-nowrap
                   text-[40px]    mb-[300px]
                md:text-[50px] md:mb-[400px]
                lg:text-[60px] lg:mb-[400px]"
            >
                The Day Shift
            </h2>
            <div
                class="absolute bg-secondary rounded-full animate-scale transition-all flex flex-col justify-between items-center
                              w-[300px]               h-[300px]            mr-[100px]            mb-[200px]                    py-[50px]
                           md:w-[400px]            md:h-[400px]         md:mr-[150px]                                       md:py-[100px]
                           lg:w-[400px]            lg:h-[400px]         lg:mr-[200px]
                        hover:w-[550px]         hover:h-[550px]      hover:mr-0            hover:mb-0            hover:z-20
                   peer-hover:w-[550px]    peer-hover:h-[550px] peer-hover:mr-0       peer-hover:mb-0       peer-hover:z-20
                     hover:lg:w-[700px]      hover:lg:h-[700px]
                peer-hover:lg:w-[700px] peer-hover:lg:h-[700px]"
            >
                <div
                    class="absolute w-[100px] h-[100px] invisible
                    top-[37%]
                    md:top-[40%]
                    group-hover:visible"
                >
                    <button onclick="window.location.pathname='/the-day-shift'">
                        <ArrowRightCircle id="day-shift-arrow" color={ColorsEnum.ACCENT}/>
                    </button>
                </div>
                <span class="absolute top-[70%] text-accent text-center text-4xl font-nunito font-bold invisible group-hover:visible">
                    Get to know my<br/>
                    professional<br/>
                    journey<br/>
                </span>
            </div>
        </div>
        <div id="night-shift-circle" class="relative group w-full h-full flex justify-center items-center has-[:hover]:z-50">
            <h2
                class="absolute peer font-extrabold text-secondary z-30 text-nowrap
                   text-[40px]    mt-[300px]
                md:text-[50px] md:mt-[400px]
                lg:text-[60px] lg:mt-[400px]"
            >
                The Night Shift
            </h2>
            <div
                class="absolute bg-accent rounded-full animate-inverted-scale transition-all flex flex-col justify-between items-center
                              w-[300px]               h-[300px]               ml-[100px]               mt-[200px]                    py-[50px]
                           md:w-[400px]            md:h-[400px]            md:ml-[150px]                                          md:py-[100px]
                           lg:w-[400px]            lg:h-[400px]            lg:ml-[200px]
                        hover:w-[550px]         hover:h-[550px]         hover:ml-0               hover:mt-0            hover:z-20
                   peer-hover:w-[550px]    peer-hover:h-[550px]    peer-hover:ml-0          peer-hover:mt-0       peer-hover:z-20
                     hover:lg:w-[700px]      hover:lg:h-[700px]
                peer-hover:lg:w-[700px] peer-hover:lg:h-[700px]"
            >
                <span class="absolute bottom-[70%] text-secondary text-center text-4xl font-nunito font-bold invisible group-hover:visible">
                    Curious<br/>
                    about what do I do<br/>
                    when I'm not at work?<br/>
                </span>
                <div
                    class="absolute w-[100px] h-[100px] invisible
                    top-[39%]
                    md:top-[42%]
                    group-hover:visible"
                >
                    <button onclick="window.location.pathname='/the-night-shift'">
                        <ArrowRightCircle id="day-shift-arrow" color={ColorsEnum.SECONDARY}/>
                    </button>
                </div>
            </div>
        </div>
    </section>
</Layout>