<section
    id="the-day-shift-about-me"
    class="bg-secondary w-[100%] flex flex-col items-center
        py-[15vh]    justify-start
     md:py-[20vh] md:justify-center"
    style="min-height: calc(var(--vh, 1vh) * 100)"
>
    <div
        class="h-full flex flex-col
            w-[80%]    justify-start
         md:w-[80%] md:justify-center
         lg:w-[80%]
         xl:w-[40%]"
    >
        <h3 class="text-accent text-center font-nunito font-bold text-3xl">
            ABOUT ME
        </h3>
        <br>
        <p class="text-primary font-nunito font-medium text-xl">
            Hi! I’m Antonio, a Mechatronic Engineer whose graduation project introduced him to the world of web development. It’s been four years since I became a Full Stack developer, and during that time, I’ve had the opportunity to work on projects involving both Backend and Frontend technologies.
            <br>
            <br>
            I’ve been fortunate to participate in projects where I rigorously applied best practices in software development (TDD, Clean Code, etc.), and I’ve also had the privilege of training over 40 developers throughout my career.
            <br>
            <br>
            I enjoy working in teams, sharing my knowledge, and learning from anyone willing to teach me something new. I prioritize clear communication and achieving results, always striving to create a positive, collaborative environment where everyone can contribute and grow.
        </p>
    </div>
</section>