<div class="fixed w-[100%] h-[150px] bottom-0 flex justify-center items-center">
    <button onclick="window.location.pathname='/contact'"
        class="w-[200px] h-[50px] rounded-full border-4 border-accent font-nunito font-bold text-xl
                bg-transparent         text-accent
        hover:bg-accent        hover:text-secondary hover:scale-110 transition-all"
    >
        Contact
    </button>
</div>