---
interface Props
{
    href : string;
    title: string;
}

const { href, title } = Astro.props;
---

<li
    class="w-full flex items-center justify-center"
>
    <a href={href} aria-label={title}
        class="menu-anchor w-full text-secondary text-center content-center font-semibold hover:text-accent
           h-[120px]    text-3xl
        md:h-[140px] md:text-5xl
        lg:h-[160px] lg:text-5xl"
    >
    {title}
    </a>
</li>