---

---

<section id="shifts" class="bg-accent relative w-[100%] h-[100vh] flex justify-center items-center -z-10 overflow-hidden">
    <div id="day-shift" class="absolute w-full h-full flex justify-center items-center">
        <!-- <h2
            class="absolute font-extrabold text-secondary z-10
            text-[50px] mb-[450px]
            md:text-[75px]
            lg:text-[100px] lg:mb-[650px]"
        >
            The Day Shift
        </h2> -->
        <div
            class="bg-primary absolute rounded-full
            w-[400px] h-[400px] mb-[300px] mr-[100px]
            md:w-[500px] md:h-[500px] md:mr-[300px]
            min-[950px]:w-[600px] min-[950px]:h-[600px]
            lg:w-[800px] lg:h-[800px] lg:mr-[500px]"
        />
    </div>

    <div id="night-shift" class="absolute w-full h-full">
        <!-- <h2
            class="absolute font-extrabold text-primary z-10
            text-[50px] mt-[450px]
            md:text-[75px]
            lg:text-[100px] lg:mt-[650px]"
        >
            The Night Shift
        </h2> -->
        <div
            class="bg-secondary absolute rounded-full
            w-[400px] h-[400px] mt-[300px] ml-[100px]
            md:w-[500px] md:h-[500px] md:ml-[300px]
            min-[950px]:w-[600px] min-[950px]:h-[600px]
            lg:w-[800px] lg:h-[800px] lg:ml-[500px]"
        />
    </div>
</section>