---
import "../components/GlobalStyles.astro";

import { ColorsEnum } from "../constants/colors";

import Menu          from "../components/Menu.astro"
import ContactButton from "../components/ContactButton.astro";

interface Props
{
	title         : string;
    openMenuColor : ColorsEnum;
    closeMenuColor: ColorsEnum;
}

const { title, openMenuColor, closeMenuColor } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <Menu openMenuColor={openMenuColor} closeMenuColor={closeMenuColor}/>
		<slot />
        <ContactButton text="Contact" href="/contact">
	</body>
</html>